.swiper-button-next,
.swiper-button-prev {
  color:#fff; /* Customize arrow color */
  background-color:#fff;
  width:30px;
  height:30px;
}
.seeswiper{
  position: relative;
}
.swiper-button-next{
  clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);

}.swiper-button-prev{
  clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);

}

.swiper-button-prev:after, .swiper-button-next:after{
  font-size: 20px;
}
 
.swiper-pagination-bullet {
  background: #fff; /* Customize dot color */
}
.myres{
  background-color:#9660fc;
}

